
body{
  background-image: url("fondo.jpg");
  


}
article{
	color: #3e4444;
	margin:1em;
}
ol>li{
	transition: 1s;
}
li, ol{
}
@import url('https://fonts.googleapis.com/css2? family = Oswald: wght @ 700 & display = swap');

.logo{

	display: flex;
	align-items: center;
	color: #3e4444;
	font-family:'Oswald', sans-serif;
	font-weight: bold;
	background: #c1946ac9;
	border-radius:50%;
	width: 50px;
	height: 50px;
	padding: 0.5em;
}
li > a{
	text-decoration: none;
	color: #000;
}
nav{
	background: #3e4444;
	display: inline-flex;
	align-items: flex-start;
	width: 95%;
	height: 50px;
	position: relative;
	margin: auto;
	padding: 1em;
}
nav  li {
	list-style: none;
	background: #405d27;
}
.foto_acceso{
	display: flex;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px  #c1946ad6 solid;
	margin: 0 auto;

	}
	.key{

		display:flex;
		margin: 1em auto	;
		border: 4px #7464ae solid;
		border-radius: 5px;
		text-align: center;
	}
.menu{
	border: 2px white solid;
	float: left;
	margin-left: 0.5em;
	margin-top: 1em;
}
.sub-menu{
	display: none;
}
.item-sub-menu{

	border: 1px brown solid;
	padding: 1px;

}
.sub-menu-3{
	float: right;
	border: 2px rgb(54, 54, 20) solid;
	position: absolute;	
	/*left: 21.75em;
	top: 5em;*/
	margin-left: 5.2em;
	margin-top: -1em;	
	visibility: hidden;
	}
.menu:hover .sub-menu{
	display:flex;
	flex-direction: column;
	-ms-flex-align:end;
}

.item-sub-menu:hover > ol{
	visibility: visible;
}
ol>li:hover{
	background: rgb(213, 223, 213);
}